.Login {
    padding-top: 100px;
    height: 100vh;
}

.Login .loginForm {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.Login .loginForm h3 {
    text-align: center;
}

.Login .loginForm form div {
    margin-top: 10px;
}

.Login .loginForm form div input {
    width: 100%;
}